@page "/Confirmationscreen"
@layout LoginLayout

<div class="container">
    <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully our registration process. To complete it, verify your email.  To do so, please, go to your mailbox and confirm the token tha we have been sent to you.</p>
    <hr>
    <p class="mb-0"><strong>Important:</strong> Our verification token expire in 24 hours.</p>
</div>

</div>

<UserTologin Title="Have you confirmed your account?" />