@page "/Index"
@inject Blazored.LocalStorage.ILocalStorageService localStore
<hr>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Store Command Center</h1>
</div>

<CardsCounters/>
<hr>




@code{

    /*protected override void OnInitialized()
        {
        StoreValidationByUser();
        }

    async void StoreValidationByUser() {

        
    } */


}