@using System.Threading;

@if (Count ==0){
<div class="fade show">

</div>
}else {
@ChildContent
}

@code{
    [Parameter] public  RenderFragment ChildContent { get; set; }
    private int Count { get; set; } = 5;

    protected override void OnInitialized()
        {
        StartCountdown();
        }

    void StartCountdown()
    {
        var timer = new Timer(new TimerCallback(_ =>
        {
            if (Count > 0)
            {
                Count--;
                InvokeAsync(() =>
                {StateHasChanged();});
            }
        }), null, 1000, 1000);
    }
}
