

<EditForm Model="itemTypeData" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
<div class="container">
    <div class="main-body">
            <div class="card mb-3">
                <div class="card-body">
                  <h6 class="mb-0">Item Type Descritpion</h6>
                    <div class="row">
                    <div class="col-sm-12 text-secondary">
                      <InputText class="form-control" placeholder="Item Type Descritpion" @bind-Value="@itemTypeData.ItemTypeDescription" /> 
                    </div>
                  </div>
                  <hr>
                  <h6 class="mb-0">Status</h6>
                  <div class="row">
                    <div class="col-sm-12 text-secondary">
                      <select class="form-control" @bind="@itemTypeData.ItemTypeStatus">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                                <option value="Pending">Pending</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</EditForm>

@code{
        [Parameter] public ItemsType itemTypeData { get; set; }
        [Parameter] public EventCallback OnValidSubmit { get; set; }
    }
