@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

        <div class="main">
        <ul class="nav justify-content-end" style="margin-right:10%;">
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-envelope-open-text"></i></a>
        </li>
        <li class="nav-item">
            <Dropdown>
            <DropdownToggle>
                    <label><i class="fas fa-user-alt"></i> Profile</label>
            </DropdownToggle>
            <DropdownMenu>
                <DropdownItem><div>
                    <a class="nav-link active" aria-current="page" href="/StoreProfilePage"><i class="fas fa-store"></i> Store profile</a>
                </div>
                </DropdownItem>
                <DropdownDivider />
                <DropdownItem>
                <div>
                    <a class="nav-link active" aria-current="page" href="/UserLogout"> <i class="fas fa-sign-out-alt"></i> Log Out</a>
                </div>
                </DropdownItem>
            </DropdownMenu>
            </Dropdown>

        </li>
        </ul>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
