

<div class="btn btn-primary">
    <a  @onclick="@ShowModal"><i class="fas fa-camera"></i> Change Store logo</a>
</div>


<Modal @ref="modalRef">
    <ModalContent IsCentered="true">
        <ModalHeader>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <ImageFileUpload />
            <!--<FileInputBlazorise/>-->
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="loadPage">Close</Button>
        
        </ModalFooter>
    </ModalContent>
</Modal>

@code{

    [Parameter] public EventCallback loadPage {get;set;}
    private Modal modalRef;
    private void ShowModal()
    {
        modalRef.Show();
    }
    private void HideModal()
    {
            modalRef.Hide();
    }

}